     |     |
-----|-----|
<%= SCOPE %> | WRITE_SHEETS
<%= HEADERS %> | <%= HEADER_AUTH %><br/>**Content-Type**: multipart/form-data 
**Request Part:<br/>discussion** | **Content-Disposition**: form-data; name=discussion<br/>**Content-Type**: application/json<br/>Attachment \(NOT A HEADER FIELD\): [Discussion object](#discussion-object) with the following attributes:<ul><li>title (string)</li><li>comment ([Comment object](#comment-object))</li></ul>
**Request Part:<br/>file** | **Content-Disposition**: form-data; name=file; filename=attachment_name<br/>**Content-Type**: application/octet-stream<br/>Attachment \(NOT A HEADER FIELD\): attachment content 
<%= RETURNS %> | [Result object](#result-object) containing a [Discussion object](#discussion-object) for the newly created Discussion which in turn contains an [Attachment object](#attachment-object) for the attachment.
