     |     |
-----|-----|
<%= SCOPE %> | WRITE_SHEETS
<%= HEADERS %> | See [Multipart Uploads](#multipart-uploads) for information about headers that are required for multipart requests.
<%= REQUEST %> | Request body should contain *parts* with the following names:<ul><li>**comment**: JSON [Comment Object](#comment-object) with the following attribute:<ul><li>text</li></ul></li><li>**file**: (optional) file to attach to the new comment</li></ul>See [Multipart Uploads](#multipart-uploads) for more information on parts.
<%= RETURNS %> | [Result Object](#result-object) containing a [Comment Object](#comment-object) for the newly created comment, which in turn contains an [Attachment Object](#attachment-object) for the attachment that was uploaded to the comment.
