     |     |
-----|-----|
<%= SCOPE %> | WRITE_SHEETS
<%= HEADERS %> | <%= HEADER_AUTH %><br/>**Content-Type**: multipart/form-data 
**Request Part:<br/>comment** | **Content-Disposition**: form-data; name=comment<br/>**Content-Type**: application/json<br/>Attachment \(NOT A HEADER FIELD\): [Comment object](#comment-object) with the following attributes:<ul><li>text</li></ul>
**Request Part:<br/>file**<br/>(OPTIONAL) | **Content-Disposition**: form-data; name=file; filename=attachment_name<br/>**Content-Type**: application/octet-stream<br/>Attachment \(NOT A HEADER FIELD\): attachment content
<%= RETURNS %> | [Result object](#result-object) containing a [Comment object](#comment-object) for the newly created comment which in turn contains an [Attachment object](#attachment-object) for the attachment.
