     |     |
-----|-----|
<%= SCOPE %> | WRITE_SHEETS
<%= HEADERS %> | See [Multipart Uploads](#multipart-uploads) for information about headers that are required for multipart requests.
<%= REQUEST %> | Request body should contain *parts* with the following names:<ul><li>**discussion**: JSON [Discussion Object](#discussion-object) with the following attributes:<ul><li>title (string)</li><li>comment ([Comment Object](#comment-object))</li></ul></li><li>**file**: (optional) file to attach to the new comment</li></ul>See [Multipart Uploads](#multipart-uploads) for more information on parts.
<%= RETURNS %> | [Result Object](#result-object) containing a [Discussion Object](#discussion-object) for the newly created Discussion, which contains a [Comment Object](#comment-object) for the initial discussion comment, which in turn contains an [Attachment Object](#attachment-object) for the attachment that was uploaded to the comment.
