     |     |
-----|-----|
<%= SCOPE %> | Must be one of the followings:<ul><li>ADMIN_SHEETS, or</li><li>WRITE_SHEETS (the access token owner must be the submitter of the specified update request).</li></ul>
<%= HEADERS %> | <%= HEADER_AUTH %>
<%= RETURNS %> | [Result Object](#result-object)