> Example Request: 

```shell
curl https://api.smartsheet.com/2.0/users/sheets \
-H "Authorization: Bearer ACCESS_TOKEN"
```

> Example Response:

```json
[
    {
        "id": 2894323533539204,
        "name": "New Sheet",
        "owner": "john.doe@smartsheet.com",
        "ownerId": 995857572373
    }
]
```

`GET /users/sheets`

Gets the list of all Sheets owned by the members of the account (organization). 

<aside class="notice">This operation is only available to system administrators.</aside>

     |     |
-----|-----|
<%= SCOPE %> | ADMIN_USERS
<%= HEADERS %> | <%= HEADER_AUTH %>
<%= RETURNS %> | Array of [Sheet objects](#sheet-object), limited to the following attributes:<ul><li>id</li><li>name</li><li>owner (email address)</li><li>ownerId</li></ul>