### SentUpdateRequest Object

     |     |     |
-----|-----|-----|
**id** | number | ID of the sent update request. 
**updateRequestId** | number | ID of the originating update request.
**sentAt** | timestamp | The date and time for when the sent update request was sent to the recipient.
**sentBy** | [User](#user-object) | User Object containing name and email of the sender.
**status** | string | The status of the sent update request. It must be one of the following values:<ul><li><b>PENDING</b>: The request has not been responded by the recipient.</li><li><b>COMPLETE</b>: The request has been responded by the recipient.</li></ul>
**rowIds** | number[] | IDs of rows update is requested.
**columnIds** | number[] | IDs of columns included in the request.
**includeAttachments** | Boolean | A flag to indicate whether or not the Attachments were included in the email.
**includeDiscussions** | Boolean | A flag to indicate whether or not the Discussions were included in the email.
**sentTo** | [Recipient](#recipient-object) | Recipient Object.
**subject** | string | The subject of the email.
**message** | string | The message of the email.